<!DOCTYPE html>
<html>
<head>
  <title>Kroo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!--   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
 <%# Following install for devise gem/%> -->

</head>
<body>


<%= render "shared/navbar" %>
<div class ="container">
<%= yield %>
</div>
</body>
<%= render "shared/footer" %>
</html>


